.hauling-form {
    max-width: 1100px;
    width: 100%;
    margin: 2em auto;
}

.hauling-list {
    border: 1px solid #333;
    padding: 0.5em 1em;
    list-style: none;
    display: none;
    text-align: left;
}

.hauling-list li {
    position: relative;
}

.hauling-list li:hover {
    background: rgba(0,158,227, 0.4);
    cursor: pointer;
}

.hauling-list p {
    text-align: left;
    font-size: 0.9em;
    color: rgba(255,255,255,0.5);
    margin-bottom: 0.5em;
    width: 100%;
    border-bottom: rgba(255,255,255,0.5) 1px solid;
}
.header-list {
    display: block;
}

#atStations {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#atStations p {
    text-align: center;
}

.addSystem {
    padding: 0 0.25em;
    min-width: unset;
}

.header-row {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: left;
}

.header-row li:hover {
    background: none;
    cursor: inherit;
}

.remove-item {
    color: #fff;
    position: absolute;
    right: 1em;
    top: 0;
    display: none;
    font-size: 0.8em;
    text-shadow: 0 3px 0 #00aeff;
}

.hauling-list li:hover .remove-item {
    display: block;
}

.suggestions {
    text-align: left;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 0.8em;
}

.suggestions span {
    padding: 0.5em;
    border: 2px solid rgba(0,158,227, 0.9);
    border-radius: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.suggestions span:hover {
    background: rgba(0,158,227, 0.4);
}

.awesomplete > ul > li, .awesomplete > ul > li mark {
    cursor: pointer;
}

.awesomplete > ul > li:hover, .awesomplete > ul > li:hover mark {
    background-color: rgba(0,158,227, 1) !important;
}

.awesomplete > ul > li[aria-selected=true] {
    background-color: rgba(0,158,227, 0.3);
}

.awesomplete > ul > li[aria-selected=true] mark {
    background-color: rgba(0,158,227, 0.6);
}

.security-code10 {
    color: #2FEFEF;
}

.security-code09 {
    color: #48F0C0;
}

.security-code08 {
    color: #00EF47;
}

.security-code07 {
    color: #00F000;
}

.security-code06 {
    color: #8FEF2F;
}

.security-code05 {
    color: #EFEF00;
}

.security-code04 {
    color: #D77700;
}

.security-code03 {
    color: #F06000;
}

.security-code02 {
    color: #F04800;
}

.security-code01 {
    color: #D73000;
}

.security-code00 {
    color: #F00000;
}