.hauling-form {
    max-width: 1100px;
    width: 100%;
    margin: 2em auto;
}

.hauling-list {
    border: 2px solid rgba(0,158,227, 0.9);
    padding: 0.5em 1em;
    list-style: none;
    display: none;
}

.hauling-list li {
    position: relative;
}

.hauling-list li:hover {
    background: rgba(0,158,227, 0.4);
    cursor: pointer;
}

.remove-item {
    color: #fff;
    position: absolute;
    right: 1em;
    top: 0;
    display: none;
    font-size: 0.8em;
    text-shadow: 0 3px 0 #00aeff;
}

.hauling-list li:hover .remove-item {
    display: block;
}

.awesomplete > ul > li, .awesomplete > ul > li mark {
    cursor: pointer;
}

.awesomplete > ul > li:hover, .awesomplete > ul > li:hover mark {
    background-color: rgba(0,158,227, 1) !important;
}

.awesomplete > ul > li[aria-selected=true] {
    background-color: rgba(0,158,227, 0.3);
}

.awesomplete > ul > li[aria-selected=true] mark {
    background-color: rgba(0,158,227, 0.6);
}