/* =================================== */
/*	Basic Style 
/* =================================== */


body {
    background-color: #fff;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

main {
    opacity: 0;
}

main > section {
    padding: 5em 0;
}

label {
    font-weight: 500 !important;
    margin-top: 1em;
}

input[type=text], input[type=number], select {
    text-align: center;
    background: rgba(0,0,0,1) !important;
    color: #fff !important;
    border: 1px solid #333 !important;
    margin: 0 auto !important;
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    margin-bottom: 1em; 
}

.btn-grey {
    background: rgba(0,0,0,.5);
    color: #fff;
    min-width: 100px;
    border: 1px solid #333;
    margin: 0.5em;
}

.btn-blue {
    background-color: rgba(0,158,227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.small-btn {
    min-width: 150px;
    padding: 0.5em;
    font-size: 0.9em;
}

/* Sweep To Right */
.btn-effect {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    position: relative;
    display: inline-block;
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;
    
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
    -moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
    color: black !important;
    font-weight: bold;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-small {
    min-width: unset;
    padding: 0.5em;
}

/**
* SWAL Modal
*/

.swal-modal {
    background-color: black;
    border: 1px solid white;
}

.swal-title, .swal-text, .swal-footer {
    color: white;
}

.swal-button {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    position: relative;
    display: inline-block;
    border-radius: 5px;
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;
    
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
}

.swal-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 5px;
}

.swal-button:hover, .swal-button:focus, .swal-button:active {
    color: black !important;
    font-weight: bold;
    border-radius: 5px;
}

.swal-button:hover:before, .swal-button:focus:before, .swal-button:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.swal-button--refresh, .swal-button--confirm {
    background: rgba(0,0,0,.5);
    color: #fff;
    min-width: 100px;
    border: 1px solid #333;
    margin: 0.5em;
    background-color: rgba(0,158,227, 0.78);
}

/**
/*	Header
/* ==========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    
    background-color: rgba(0,0,0,1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    font-size: 2em;
    border-bottom: 2px solid rgba(0,158,227, 0.78);
}

#navigation.animated-header {
    padding: 0.5em;
    z-index: 10000;
}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: -1em;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
}

.navbar-brand {
    max-width: 250px;
}

.navbar-brand img {
    width: 100%;
}

.dropdown-menu {
    border: white 1px solid;
    padding: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5em 1.5em;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background: black;
    border: 0;
    color: white;
    margin: 0;
}

/*=================================================================
Home Slider
==================================================================*/


#home-slider {
    position: relative;
    padding: 0;
}

.slide-caption {
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 11;
    margin-top: 1em;
}

.slide-caption .caption-content {
    vertical-align: middle;
    display: table-cell;
}

.caption-content .btn {
    min-width: 350px;
}

.sl-content {
    width: 100%;
    height: 100%;
}


.request_time {
    margin-top: 1em;
}

/*============================================================
Footer
==============================================================*/

#footer {    
    position: fixed;
    background-color: rgba(0,0,0,1);
    padding: 1em 0;
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    border-top: 2px solid rgba(0,158,227, 0.78);
}

.footer-content {
    width: 390px;
    margin: 0 auto;
}

.footer-content > div {
    margin-bottom: 40px;
}

.footer-content > div > p:first-child {
    margin-bottom: 15px;
}

.footer-content > p {
    color: #ababab;
    font-size: 12px;
}



.tableLoadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    font-size: 5em;
    color: rgba(0,158,227, 0.78);
    text-align: center;
    line-height: 1em;
}   

.ad-unit-section {
    max-width: 1100px;
    width: 100%;
    margin: 2em auto;
}

/*============================================================ 
Responsive Styles
============================================================*/

/*============================================================
For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {
    
}


/*============================================================
Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {
    
    /* home slider  */
    .caption-content h2 {
        font-size: 40px;
    }
    
    .caption-content p {
        font-size: 25px;
    }
    
    .caption-content strong {
        font-size: 45px;
    }
}


/*============================================================
Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {
    
    body {
        font-size: 14px;
    }
    
    
    /*navigation*/
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }
    
    /* slider */
    .caption-content h2 {
        font-size: 18px;
    }
    
    .caption-content > span {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .caption-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .caption-content strong {
        font-size: 22px;
    }
    
    /* footer */
    .footer-content {
        width: 100%;
    }
}


/*============================================================
Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    
    /* home slider */
    .caption-content h2 {
        font-size: 35px;
    }
    
    .caption-content p {
        font-size: 25px;
    }
    
    .caption-content strong {
        font-size: 35px;
    }
    
    /* footer */
    .footer-content {
        width: 380px;
    }
}


/**

Twinkling Background

**/

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.stars {
    background: black url("../img/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("../img/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    -moz-animation:move-background 40s linear infinite;
    -ms-animation:move-background 40s linear infinite;
    -o-animation:move-background 40s linear infinite;
    -webkit-animation:move-background 40s linear infinite;
    animation:move-background 40s linear infinite;
}

/**
Awesomplete
**/
.awesomplete {
    width: 100%;
}

.awesomplete > ul > li {
    text-align: left;
    color: black;
    background-color: white;
    font-weight: bold;
}

.awesomplete > ul > li[aria-selected=true] {
    background-color: #ccc;
    color: black;
}

.awesomplete > ul > li[aria-selected=true] mark {
    background-color: #999;
    color: black;
}

.awesomplete > ul > li mark {
    background-color: #999;
    color: black;
}

/* KOFI */


.kofiimg {
    max-width: 2em !important;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 3s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0) scale(1);
    }
    60% {
        transform: rotate(0) scale(1);
    }
    75% {
        transform: rotate(0) scale(1.12);
    }
    80% {
        transform: rotate(0) scale(1.1);
    }
    84% {
        transform: rotate(-10deg) scale(1.1);
    }
    88% {
        transform: rotate(10deg) scale(1.1);
    }
    92% {
        transform: rotate(-10deg) scale(1.1);
    }
    96% {
        transform: rotate(10deg) scale(1.1);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}