html {
    opacity: 1 !important;
}

h2{
	margin-bottom: 1.5rem !important;
}

p {
    margin-bottom: 0 !important;
}

/** START HEADER **/
.core-section {
    padding: 40px 0 20px;

}
/** END HEADER **/

/** START NAV BAR **/
.branding {
  max-width: 250px;
}

.branding > img {
  width :100%;
}

#reset, #toggle, #stop {
    color: white;
}

#stop{
    display: none;
}

#reset:hover, #toggle:hover, #stop:hover {
    color: #00aeff;
}

.nav-link {
  text-align: center;
  cursor: pointer !important;
}

.dropdown-item {
  cursor: pointer;
}

.announcement {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 1em;
    background: black;
    border-top: #00aeff 2px solid;
    display: none;
    z-index: 1000;
    color: white;
}

.announcement-selection {
    text-align: left;
    width: 100%;
    padding: 1em;
    background: rgba(0,0,0,0.8);
    border: #00aeff 2px solid;
    color: #eee;
    max-width: 700px;
    margin: 0 auto;
}

.announcement > a {
  color: black !important;
}


/** END NAV BAR **/

/** START CORE **/
body {
    background: #111 url(../images/evetrade-background-min.png) center/cover fixed;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    position: relative;
    padding-bottom: 10em;
    margin-bottom: 6em;
    font-size: 90%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background: rgba(22,29,38,0.4);
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

h3 {
  text-align: center;
}

a {
  color: #ccc !important;
}

#core {
    background: rgba(22,29,38,0.4);
    color: white;
}

.bg-dark {
  background: black !important;
}

.bg-primary {
  background: #e7e7e7 !important;
}

.donate {
	text-align: center;
}

.kofitext {
    color: #ccc !important;
}

nav {
  border-bottom: 2px solid #00aeff;
}

.bg-header {
    background: rgba(22,29,38,0.4);
    color: white;
}

input[type="button"], input[type="submit"]{
    background: rgba(0,0,0,0.5);
    color: white;
    min-width: 100px;
    border: 1px solid #333;
    margin: 0.5em auto;
}

#initial_choice input[type="button"]{
    min-width: 200px;
}

input[type="button"]:hover, input[type="submit"]:hover {
  opacity: 0.7;
}

section {
    padding-bottom: 1em;
}

.threshold-margin {
  max-width: 350px;
  margin: 0 auto;
}

.mx-auto {
  margin-top: 1em;
  margin-bottom: 1em;
}

.overflow_scroll {
  overflow-x: scroll !important;
    padding-bottom: 1em;
}

.overflow_scroll::-webkit-scrollbar {
    display: none !important;
}

.overflow_none {
  overflow: hidden !important;
}


@media (min-width: 1200px) {
  .container {
      max-width: 1280px !important;
  }
}
/** END CORE **/

/** START DATATABLES **/

.dt-buttons {
  text-align: center;
}

.dt-button {
    background: rgba(0,0,0,0.5);
    color: white !important;
    border: white 1px solid;
    margin: 0.5em;
}

#dataTable_paginate {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    color: white !important;
}

#show_hide, #dataTable_length, #core{
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}

.dataTables_info {
  width: 100%;
  text-align: center;
    color: white !important;
}

#dataTable_filter > label {
  color: transparent;
  margin-top: -1em;
}

table.dataTable {
  padding: 0 !important;
}

#popup-table-buy_filter, #popup-table-sell_filter, #popup-table-buy_length, #popup-table-sell_length {
    display: none;
}

#dataTable {
    width: 100% !important;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

td {
    border: 1px rgba(0,0,0,0.1) solid !important;
    text-align: center;
}

.sorting, .sorting_desc, .sorting_asc {
    text-align: center;
    border: 1px rgba(0,0,0,0.1) solid;
    background-color: rgba(22,29,38,0.85);
    color: white;
}

table.dataTable.display tbody tr.odd {
     background-color: rgba(64,64,64,0.85);
 }


table.dataTable.display tbody tr.even {
    background-color: rgba(32,32,32,0.85);
}

table.dataTable.display tbody tr:hover {
    background-color: rgba(22, 29, 38,1);
}

tr.odd.row-selected, tr.even.row-selected {
    color: white !important;
    background-color: #00aeff !important;
}

table.dataTable.display tbody tr > td {
    background-color: transparent !important;
    position: relative;
}

tr > td:first-child {
    cursor: pointer;
}

.sorting_disabled, tr > td:first-child {
    width: 1px !important;
}

.row-selected td {
  background-color: inherit !important;
}

.dropdown {
  text-align: center;
}

#show_hide{
    background-color: rgba(0,0,100,0.7) !important;
    border-color: black !important;
    min-width: 200px !important;
}

.dataTables_filter {
  margin: 0 auto !important;
  float: none;
  text-align: center;
}

.dataTables_filter input {
  margin: 0 !important;
    color: white !important;
    background: rgba(0,0,0,0.5) !important;
}

.selected_volume {
  font-weight: bold;
  text-decoration: underline;
}

#colvis {
  padding: 0;
}

.deal_note {
  text-align: center;
}

.colvistoggle {
    min-width: 200px;
}

.is-true{
    background-color: #1B5E20;
    color: white;
    margin: 0 !important;
    width: 100%;
    border-radius: 0;
}

.is-false{
    background-color: #D50000;
    color: white;
    margin: 0 !important;
    width: 100%;
    border-radius: 0;
}

.is-true:hover, .is-false:hover{
  opacity:0.8;
}
/** END DATATABLES **/

/** START DIALOGUE **/
#buying_header {
    font-size: 1.5em !important;
}
  #route_trade, #station_trade, #region_trade, #buying_footer, #buying_header {
    display: none;
  }

  .error {
    display: none;
    border-top: rgb(140, 0, 0) 2px solid;
  }

  .station-selected, .start-selected, .end-selected {
    background: #00aeff !important;
    color: white;
  }

  .suggestions {
      text-align: left;
      background: rgba(0,0,0,0.5);
      padding: 0.5em 1em;
      color: #ccc;
  }

    .suggestions span {
        padding: .25em 0.5em;
        margin: 0 0.25em;
        background: rgba(0,0,0,1);
        border: 2px solid #00aeff;
        cursor: pointer;
        border-radius: 1em;
    }

  .suggestions span:hover {
      color: black;
      background: #00aeff;
      border: 2px solid black;
  }

  input[type="text"], input[type="number"], #security_threshold, #route_preference, #region_sales_tax, #route_sales_tax, #station_sales_tax{
      text-align: center;
      background: rgba(0,0,0,0.5) !important;
      color: white !important;
      max-width: 350px;
      border: 1px solid #333 !important;
      margin: 0 auto 1em auto;
  }

  #custom_station, #start_station, #end_station {
      max-width: 100%;
      margin: 0 auto;
  }

    #start_region, #end_region {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .standard {
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
    }

    #custom_station input[type="text"],
    #start_station input[type="text"],
    #end_station input[type="text"] {
        text-align: left !important;
        max-width: unset !important;
        padding: 0 100px 0 1em !important;
    }


#start_region input[type="text"],
#end_region input[type="text"] {
    text-align: left !important;
    max-width: 400px !important;
    padding: 0 100px 0 1em !important;
}

  /** START CUSTOM FEATURE **/
  #custom_route_end, #custom_route_start{
      height: auto;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      background: rgba(0,0,0,0.5);
      color: white !important;
      overflow: hidden;
      display: none;
  }

  #custom_route_end > li, #custom_route_start > li{
      list-style: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
  }
  #custom_route_end input, #custom_route_start input {
    margin: 4px;
  }

  #adding_to_start_station_list, #adding_to_end_station_list {
      position: relative;
  }

  .add-station-button {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0 !important;
      height: 100%;
      line-height: 0;
      background: black !important;
      border: 1px solid #999 !important;
      border-radius: 0 !important;
  }

.add-station-button:hover {
    background: #999 !important;
}

  .custom_switcher input{
    width: auto !important;
  }

  .custom{
    display: none;
  }

  .location_dropdown{
    width: auto;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
      background: rgba(0,0,0,0.5) !important;
      color: white !important;
  }

  /** END CUSTOM FEATURE **/
/** END DIALOGUE **/

/** START MODAL **/

.howto {
  text-align: center;
}


.modal-content {
    background: black;
    color: white !important;
    border: 1px solid white !important;
}

.modal-dialog {
  max-width: none;
  padding: 1em;
}

.modal-title{
  text-align: center;
  width: 100%;
}

.modal-header{
  margin-bottom: 1em;
}

.modal-header .close {
    color: white;
    text-shadow: 0 3px 0 #00aeff;
}

.modal-open {
    overflow-y: hidden !important;
}

.closeStation {
    color: white;
    text-shadow: 0 3px 0 #00aeff;
    cursor:pointer;
}
/** END MODAL **/

/** FOOTER **/
footer h1, footer h2 {
    font-size: 1rem;
    color: white !important;
    text-align: center;
    margin-bottom: 0.5rem !important;
}


/** Add This **/
.addthis_bar_message, .addthis_bar_x, .addthis_bar_logo_container {
  display: none !important;
}

.addthis_bar_fixed {
    background-color: transparent !important;
    height: 0 !important;
    width: 50% !important;
    left: 50% !important;
    margin: 0 !important;
    transform: translateX(-50%) !important;
}

.loadingIcon {
     opacity: 1;
     position: absolute;
     width: 100%;
     height: 100%;
     text-align: center;
     top: 40%;
     color: white;
 }

.loadingIcon .fa {
    font-size: 10em;
    color: white;
}

.tableLoadingIcon {
    display: none;
    background: rgba(0,0,0,0.8);
    opacity: 1;
    position: fixed;
    z-index: 1;
    color: white;
    top: 200px;
    right: 1em;
    pointer-events: none;
    border-radius: 3em;
}

.tableLoadingIcon .fa {
    font-size: 5em;
    color: white;
    pointer-events: none;
}

.loadingContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.core-section {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.amazon-offer {
    cursor: pointer;
}

.amazon-offer > img {
    margin: 1em 0.5em;
}

.amazon-offer:hover {
    opacity: 0.8;
}

a#shop {
    background-color: black;
    border: 1px solid #00aeff;
    font-family: 'Lato',Helvetica,Century Gothic,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white !important;
}

a#shop img {
    max-width: 30px;
    margin-right: 0.5em;
}

.promo-item {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    z-index: 999;
}

a#shop span {
    margin-right: 0.25em;
}

a#shop:hover {
    opacity: 0.8;
}

.high_sec {
    color: #2FEFEF;
}
.low_sec {
    color: darkorange;
}
.null_sec {
    color: red;
}

form select {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px white dashed;
}

form option {
    background: black;
    color: white;
    border: none;
}

.directionWarning {
  display: none;
  border: 1px solid #00aeff;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}
