<!-- Modal for amazon page -->
<div class="modal fade container howto" id="amazon-popup" tabindex="-1" role="dialog" aria-labelledby="amazonPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Current Offerings</h4>
            </div>

            <div class="modal-dialog">
              <!-- START SUBSCRIPTION SECTION -->
              <h4>
                Subscription Time
              </h4>
              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B00GDHD3LW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00GDHD3LW&linkCode=as2&tag=eve-trade-20&linkId=44067363d37b819968d07e5b37ff57b7">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00GDHD3LW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B00GDHD74A/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00GDHD74A&linkCode=as2&tag=eve-trade-20&linkId=9b071cc20e786b9f11ac581ec51d7d31">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00GDHD74A&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B00GDHD8XA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00GDHD8XA&linkCode=as2&tag=eve-trade-20&linkId=52c037eb3771ba24f8a484c99ddec355">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00GDHD8XA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B00GDHDB14/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00GDHDB14&linkCode=as2&tag=eve-trade-20&linkId=52a563970e8d127589fa817813ab2806">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00GDHDB14&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>
              <!-- END SUBSCRIPTION SECTION -->

              <br>
              <br>

              <!-- START PLEX SECTION -->
              <h4>
                Plex
              </h4>
              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B071S9YKK6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071S9YKK6&linkCode=as2&tag=eve-trade-20&linkId=4024b48ed8d34b346395f79d4b908120">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071S9YKK6&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B0728DJ92V/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0728DJ92V&linkCode=as2&tag=eve-trade-20&linkId=98665a56eddf0ebac8a2d18f4f015839">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0728DJ92V&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B0714G2C6V/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0714G2C6V&linkCode=as2&tag=eve-trade-20&linkId=7f517aa056629bfe72346e429897d196">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0714G2C6V&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B0719MBBBH/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0719MBBBH&linkCode=as2&tag=eve-trade-20&linkId=f3e8d4faa50913ac471c1e8a6cceb0d3">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0719MBBBH&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B071P4KMDK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071P4KMDK&linkCode=as2&tag=eve-trade-20&linkId=5a7c9aba9ac4f86ba3711af6ce9a922a">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071P4KMDK&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B072BZB5RC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B072BZB5RC&linkCode=as2&tag=eve-trade-20&linkId=788fbe8ba0f0369a304db4535213b1bc">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B072BZB5RC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>

              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/gp/product/B0711VF4VB/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0711VF4VB&linkCode=as2&tag=eve-trade-20&linkId=79e485fa5be2e3a75da877cbdfafefea">
                <img
                  border="0"
                  src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0711VF4VB&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=eve-trade-20"
                />
              </a>
              <!-- END PLEX SECTION -->
            </div>

            <div class="modal-footer">
                <small>
                  * Most proceeds go to CCP Games, but a portion supports us and our infrastructure costs.
                </small>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
