<!-- Modal for amazon page -->
<div class="modal fade container howto" id="amazon_popup" tabindex="-1" role="dialog" aria-labelledby="amazonPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">These Purchases Support Us</h4>
            </div>

            <div class="modal-dialog">
              <!-- START SUBSCRIPTION SECTION -->
              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/s?k=EVE+Online+Subscription&i=videogames&camp=1789&creative=9325&linkCode=ur2&linkId=5dff5d90d8fb3aa7497cea2fce272594&tag=eve-trade-20">
                <img
                  border="0"
                  src="images/sub_amazon.png"
                />
              </a>
              <!-- END SUBSCRIPTION SECTION -->

              <br>
              <br>

              <!-- START PLEX SECTION -->
              <a
                class="amazon-offer"
                target="_blank"
                href="https://www.amazon.com/s?k=EVE+Online+PLEX&i=videogames&camp=1789&creative=9325&linkCode=ur2&linkId=dc506cef0f428746cf89c29295a572a6&tag=eve-trade-20">
                <img
                  border="0"
                  src="images/plex_amazon.png"
                />
              </a>

              <!-- END PLEX SECTION -->
            </div>

            <div class="modal-footer">
                <small>
                  * Most proceeds go to CCP Games, but a portion supports us and our infrastructure costs.
                </small>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
