<!-- Modal for download page -->
<div class="modal fade container howto" id="download-popup" tabindex="-1" role="dialog" aria-labelledby="amazonPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
                <h4 class="modal-title">
                  Standalone Application
                </h4>
            </div>

            <div class="modal-dialog">
                <h4>
                  The full application is now available for use on your Desktop
                  .</h4>
                <p>
                  Please note that this application is a BETA and an internet connection is still required.
                  <br>
                  Critical bugs will be addressed but not as quickly as bugs on the website.
                  <br>
                  To use just download, unzip, and double click the .exe file
                </p>

                <br>

                <a
                  href="downloads/EVE%20Trade%20Standalone%20(BETA)-win32-x64.zip"
                  target="_blank"
                  onclick="gtag('event', 'Application Download', {'event_category': 'Download','event_label': 'Windows Application','value': 1});">
                    <button type="button" class="btn btn-default">
                      Download
                    </button>
                </a>
            </div>

            <div class="modal-footer">
                <small>
                  If you enjoy the application please consider
                  <a href="https://ko-fi.com/evetrade" target="_blank">
                    donating
                  </a>.
                </small>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
