<!-- Modal for initial page -->
<div class="modal fade container howto" id="howto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
                <h4 class="modal-title" id="popup_itemName">
                  Route or Station Trading?
                </h4>
            </div>

            <div class="modal-dialog">
                <h5>
                  Route / Hauler Trading
                </h5>
                <p>
                  Find best trades between two trade hubs.
                  Buying sell orders at one, and selling them directly to buyers at the other.
                  These trades can happen immediately.
                </p>

                <p>
                  For more information see:
                  <a href="https://wiki.eveuniversity.org/Hauling_101" target="_blank">
                    Hauling 101
                  </a>
                </p>

                <hr/>

                <h5>
                  Station Trading
                </h5>

                <p>
                  Placing buy orders at a station for the buy price.
                  Once the buy order is filled, you sell the items at the same station for the cheapest price.
                  This is a slower process but requires nothing but capital. No ships or storage requirements.
                </p>
                <p>
                  For more information see:
                  <a
                    href="https://wiki.eveuniversity.org/Trade_102:_Station_Trading"
                    target="_blank">
                    Station Trading 101
                  </a>
                </p>

                <hr/>

                <h5>
                  Are character skills taken into consideration?
                </h5>
                <p>
                  No. Verify that ROI is not negative when considering tax and broker fees. When in doubt set ROI to 5%.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


<!-- Modal for route page -->
<div class="modal fade container howto" id="howto-route" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
                <h4 class="modal-title" id="popup_itemName">
                  Route Trading UI Information
                </h4>
            </div>

            <div class="modal-dialog">
                <h5>
                  Highlight an item to be tracked
                </h5>
                <p>
                  Click the row
                </p>

                <br>

                <h5>
                  Sort on a column
                </h5>
                <p>
                  Click the header
                </p>

                <br>

                <h5>
                   Multi-sort on an additional column
                </h5>
                <p>
                   Shift + Click the header
                 </p>

                <br>

                <h5>
                  How to trade between Systems instead of just Stations?
                </h5>
                <ol style="text-align:left">
                    <li>
                        Select Station to Station trading.
                    </li>
                    <li>
                        Type the System or Station you are interested in.
                    </li>
                    <li>
                        Hold Shift.
                    </li>
                    <li>
                        All stations in that system or station's system will be added to the list.
                    </li>
                    <li>
                        You can also hold shift and click on a trade hub to add the whole trade hub to the list.
                    </li>
                </ol>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


<!-- Modal for station page -->
<div class="modal fade container howto" id="howto-station" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
                <h4 class="modal-title" id="popup_itemName">
                  Station Trading UI Information
                </h4>
            </div>

            <div class="modal-dialog">
                <h5>
                  Highlight an item to be tracked
                </h5>
                <p>
                  Click the row
                </p>

                <br>

                <h5>
                  Sort on a column
                </h5>
                <p>
                  Click the header
                </p>

                <br>

                <h5>
                  Multi-sort on an additional column
                </h5>
                <p>
                  Shift + Click the header
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
