[build]
  environment = { VERSION = "7.0.0" }
  command = 'echo {\"version\": \"$VERSION\", \"release_date\": \"`date "+%B %d, %Y"`\", \"years_active\": \"2016-`date +%Y`\"} > config.json'
  base = "/"
  publish = "/"

[[headers]]
  # Enable CORS on API
  for = "/api/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"

[[redirects]]
  from = "/api/resource"
  to = "https://px82vf9n78.execute-api.us-east-1.amazonaws.com/v1/resource"
  status = 200
  query = {file = ":file"}

[[redirects]]
  from = "/api/hauling"
  to = "https://px82vf9n78.execute-api.us-east-1.amazonaws.com/v1/hauling"
  status = 200
  query = {from = ":from", to = ":to", tax = ":tax", minProfit = ":minProfit", minROI = ":minROI", maxBudget = ":maxBudget", maxWeight = ":maxWeight", routeSafety = ":routeSafety", systemSecurity = ":systemSecurity" }

[[redirects]]
  from = "/api/orders"
  to = "https://px82vf9n78.execute-api.us-east-1.amazonaws.com/v1/orders"
  status = 200
  query = {itemId = ":itemId", from = ":from", to = ":to"}

[[redirects]]
  from = "/api/station"
  to = "https://px82vf9n78.execute-api.us-east-1.amazonaws.com/v1/station"
  status = 200
  query = {station = ":station", tax = ":tax", fee = ":fee", margins = ":margins", min_volume = ":min_volume", volume_filter = ":volume_filter"}