[build]
  environment = { VERSION = "7.2.0" }
  command = 'echo {\"version\": \"$VERSION\", \"release_date\": \"`date "+%B %d, %Y"`\", \"years_active\": \"2016-`date +%Y`\"} > version.json'
  base = "/"
  publish = "/"

[[headers]]
  # Enable CORS on API
  for = "/api/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
    
[[headers]]
  # Enable CORS on API
  for = "/dev/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
