<form id="region_haul"  onsubmit="return init(REGION_HAUL)">
    <input type="hidden" name="form_type" value="REGION_HAUL"/>
    <div class="col-xs-12 mx-auto">
        <h2>
          Region to Region Trading
        </h2>
        <p>
          Finding the most profitable trade routes based on given filter parameters.
          <br>
          Orders change frequently. Profit is not guaranteed. Verify prices are accurate.
        </p>
        <hr>
    </div>

    <div class="col-xs-12 mx-auto">
        <h4>
          Starting Region
        </h4>

        <div class="form-group standard">
            <div id="adding_to_start_region_list">
                <div id='r2r_start_region' style='border:1px solid #999;'>
                  <input type='text' style="font-size: 18px;"/>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 mx-auto">
        <h4>
          Destination Region
        </h4>
        <div class="form-group standard">
          <div class="r2r-checkbox">
              <input
                  type="checkbox"
                  id="r2r_sell_nearby"
                  name="r2r_sell_nearby"
                />
                &nbsp;Sell to nearby regions
            </div>
            <div id="adding_to_end_region_list" style='display:block'>
                <div id='r2r_end_region' style='border:1px solid #999;'>
                  <input type='text' style="font-size: 18px;"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 mx-auto">
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="r2r_buying_type" class="control-label">
                    Buying from
                  </label>
                  <select id="r2r_buying_type" name="r2r_buying_type" class="directionChange">
                    <option value="sell" selected>Sell Orders</option>
                    <option value="buy">Buy Orders</option>
                  </select>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="r2r_selling_type" class="control-label">
                    Selling as
                  </label>
                  <select id="r2r_selling_type" name="r2r_selling_type" class="directionChange">
                    <option value="sell">Sell Orders</option>
                    <option value="buy" selected>Buy Orders</option>
                  </select>
                </p>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
            <p class="directionWarning" id="direction_warning_region">
              PROCEED WITH CAUTION. It is highly recommended to only search from SELL Orders to BUY Orders. If you continue, be sure to set your ROI and Profit limit higher than usual.<br>
              Searching from <span class="startDirection"></span> Orders to <span class="endDirection"></span> Orders returns a very large resultset and can take a while or crash your browser.<br>
              Be sure to completely understand what information you are searching for in order to minimize the number of results returned to your browser.<br>
              Some recommended settings: ROI Greater Than 250% | Profits Greater Than 100,000,000 ISK
            </p>
        </div>

        <hr>
            
        <div class="row align-items-center">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-8 col-xs-12">
                <label class="control-label" for="r2r_sales_tax" title="Calculation = 5 * (1 - 0.11 * AccountingLevel)" style="cursor: pointer;">Sales Tax (in %)</label>
                <select class="minor-text form-control" id="r2r_sales_tax" name="r2r_sales_tax">
                  <option value="" selected>Choose your Accounting Level</option>
                  <option value="5">No&nbsp;skill&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.00%</option>
                  <option value="4.45">Lvl&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.45%</option>
                  <option value="3.9">Lvl&nbsp;II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.90%</option>
                  <option value="3.35">Lvl&nbsp;III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.35%</option>
                  <option value="2.8">Lvl&nbsp;IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.80%</option>
                  <option value="2.25">Lvl&nbsp;V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.25%</option>
                  <option value="other">Other</option>
                </select>
                <input type="number" id="r2r_sales_tax_in" name="r2r_sales_tax_in" class="form-control my-1" placeholder="Default: 5" style="display:none" step="0.05" min="0" max="5"/>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>

        <hr>

    <div class="col-xs-12 mx-auto">
        <div class="row">
          <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-4 col-xs-12">
              <p>
                <label for="r2r_min_profit" class="control-label">
                  Only Return Profits Above
                </label>
                <input
                  type="number"
                  id="r2r_min_profit"
                  name="r2r_min_profit"
                  class="minor-text form-control"
                  placeholder="Default: 500,000"
                />
              </p>
          </div>
          <div class="col-sm-4 col-xs-12">
              <p>
                <label for="r2r_max_cargo" class="control-label">
                  Max Cargo Capacity (in m3)
                </label>
                <input
                  type="number"
                  id="r2r_max_cargo"
                  name="r2r_max_cargo"
                  class="minor-text form-control"
                  placeholder="Default: Not Included"
                />
              </p>
          </div>
          <div class="col-sm-2 col-xs-12"></div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="r2r_min_roi" class="control-label">
                    Minimum ROI (in %)
                  </label>
                  <input
                    type="number"
                    id="r2r_min_roi"
                    name="r2r_min_roi"
                    class="minor-text form-control"
                    placeholder="Default: 4"
                  />
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="r2r_max_budget" class="control-label">
                    Maximum Budget
                  </label>
                  <input
                    type="number"
                    id="r2r_max_budget"
                    name="r2r_max_budget"
                    class="minor-text form-control"
                    placeholder="Default: Infinity"
                  />
                </p>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                    <label for="r2r_min_security" class="control-label">
                      Security Status Filter
                    </label>
                    <select
                      id="r2r_min_security"
                      name="r2r_min_security"
                      class="minor-text form-control">
                        <option value="null" selected>No Filter</option>
                        <option value="low">Only Low or High Sec</option>
                        <option value="high">Only High Sec</option>
                    </select>
            </div>
            <div class="col-sm-4 col-xs-12">
                    <label for="r2r_route_preference" class="control-label">
                      Route Preference
                    </label>
                    <select
                      id="r2r_route_preference"
                      name="r2r_route_preference"
                      class="minor-text form-control">
                        <option value="shortest">Shortest Route</option>
                        <option value="secure" selected>Safest Route</option>
                        <option value="insecure">Least Safe Route</option>
                    </select>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-xs-12"></div>
          <div class="col-sm-2 col-xs-12">
                  <label for="r2r_include_citadels" class="control-label">
                    Include Citadels
                  </label>
                  <br>
                  <input
                    type="checkbox"
                    id="r2r_include_citadels"
                    name="r2r_include_citadels"
                  />
          </div>
          <div class="col-sm-5 col-xs-12"></div>
        </div>
    </div>

    <div class="col-xs-12 mx-auto">
        <div class="error announcement">
          A starting region, and a destination is required.
        </div>
        <input
          type="submit"
          class="btn btn-default"
          value="Search"
        />
    </div>
</form>
