<form id="station_haul" onsubmit="return init(STATION_HAUL)">
    <input type="hidden" name="form_type" value="STATION_HAUL"/>
    <div class="col-xs-12 mx-auto">
        <h2>
          Station to Station Trading
        </h2>
        <p>
          Finding the most profitable trade routes based on given filter parameters.
          <br>
          Orders change frequently. Profit is not guaranteed. Verify prices are accurate.
          <br><br>
          <em>
            <b>Hold Shift</b> to add all stations in a system.
          </em>
          <br>
          The more systems added, the longer the query will take.
        </p>
        <hr>
    </div>

    <div class="col-xs-12 mx-auto">
        <h4>
          Starting Stations
        </h4>

        <div class="form-group standard">
            <div id="adding_to_start_station_list">
                <div id='s2s_start_station' style='border:1px solid #999;'>
                  <input type='text' style="font-size: 18px;"/>
                </div>
                <input
                  type="button"
                  class="btn btn-default add-station-button"
                  onclick="newStartStation(event)"
                  value="&plus;"
                />
            </div>
            <p class="suggestions">
                Suggestions:
                <span onclick="addStart('Jita');">Jita</span>
                <span onclick="addStart('Amarr');">Amarr</span>
                <span onclick="addStart('Dodixie');">Dodixie</span>
                <span onclick="addStart('Rens');">Rens</span>
                <span onclick="addStart('Hek');">Hek</span>
            </p>

            <ul id="s2s_route_start" class="location_checklist form-control">
            </ul>
        </div>
    </div>


    <div class="col-xs-12 mx-auto">
        <h4>
          Ending Stations
        </h4>

        <div class="form-group standard">
            <div id="adding_to_end_station_list">
                <div id='s2s_end_station' style='border:1px solid #999;'>
                  <input type='text' style="font-size: 18px;"/>
                </div>
                <input
                  type="button"
                  class="btn btn-default add-station-button"
                  onclick="newEndStation(event)"
                  value="&plus;"
                />
            </div>
            <p class="suggestions">
                Suggestions:
                <span onclick="addEnd('Jita');">Jita</span>
                <span onclick="addEnd('Amarr');">Amarr</span>
                <span onclick="addEnd('Dodixie');">Dodixie</span>
                <span onclick="addEnd('Rens');">Rens</span>
                <span onclick="addEnd('Hek');">Hek</span>
            </p>
            <ul id="s2s_route_end" class="location_checklist form-control">
            </ul>
        </div>
    </div>

    <div class="col-xs-12 mx-auto">
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_buying_type" class="control-label">
                    Buying from
                  </label>
                  <select id="s2s_buying_type" name="s2s_buying_type" class="directionChange">
                    <option value="sell" selected>Sell Orders</option>
                    <option value="buy">Buy Orders</option>
                  </select>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_selling_type" class="control-label">
                    Selling to
                  </label>
                  <select id="s2s_selling_type" name="s2s_selling_type" class="directionChange">
                    <option value="sell">Sell Orders</option>
                    <option value="buy" selected>Buy Orders</option>
                  </select>
                </p>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
            <p class="directionWarning" id="direction_warning_station">
              PROCEED WITH CAUTION. It is highly recommended to only search from SELL Orders to BUY Orders. If you continue, be sure to set your ROI and Profit limit higher than usual.<br>
              Searching from <span class="startDirection"></span> Orders to <span class="endDirection"></span> Orders returns a very large resultset and can take a while or crash your browser.<br>
              Be sure to completely understand what information you are searching for in order to minimize the number of results returned to your browser.<br>
              Some recommended settings: ROI Greater Than 250% | Profits Greater Than 100,000,000 ISK
            </p>
        </div>
        
        <hr>

        <div class="row align-items-center">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-8 col-xs-12">
                <label class="control-label" for="s2s_sales_tax" title="Calculation = 5 * (1 - 0.11 * AccountingLevel)" style="cursor: pointer;">Sales Tax (in %)</label>
                <select class="minor-text form-control" id="s2s_sales_tax" name="s2s_sales_tax">
                  <option value="" selected>Choose your Accounting Level</option>
                  <option value="5">No&nbsp;skill&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.00%</option>
                  <option value="4.45">Lvl&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.45%</option>
                  <option value="3.9">Lvl&nbsp;II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.90%</option>
                  <option value="3.35">Lvl&nbsp;III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.35%</option>
                  <option value="2.8">Lvl&nbsp;IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.80%</option>
                  <option value="2.25">Lvl&nbsp;V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.25%</option>
                  <option value="other">Other</option>
                </select>
                <input type="number" id="s2s_sales_tax_in" name="s2s_sales_tax_in" class="form-control my-1" placeholder="Default: 5" style="display:none" step="0.05"  min="0" max="5"/>
            </div>            
            <div class="col-sm-2 col-xs-12"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_min_profit" class="control-label">
                    Only Return Profits Above
                  </label>
                  <input
                    type="number"
                    id="s2s_min_profit"
                    name="s2s_min_profit"
                    class="minor-text form-control"
                    placeholder="Default: 500,000"
                  />
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_max_cargo" class="control-label">
                    Max Cargo Capacity (in m3)
                  </label>
                  <input
                    type="number"
                    id="s2s_max_cargo"
                    name="s2s_max_cargo"
                    class="minor-text form-control"
                    placeholder="Default: Not Included"
                  />
                </p>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_min_roi" class="control-label">
                    Minimum ROI (in %)
                  </label>
                  <input
                    type="number"
                    id="s2s_min_roi"
                    name="s2s_min_roi"
                    class="minor-text form-control"
                    placeholder="Default: 4"
                  />
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                  <label for="s2s_max_budget" class="control-label">
                    Maximum Budget
                  </label>
                  <input
                    type="number"
                    id="s2s_max_budget"
                    name="s2s_max_budget"
                    class="minor-text form-control"
                    placeholder="Default: Infinity"
                  />
                </p>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
    </div>

    <div class="col-xs-12 mx-auto">
        <div class="error announcement">
          A starting point, and at least one destination is required.
          Starting point cannot equal Destination.
        </div>
        <input
          type="submit"
          class="btn btn-default"
          value="Search"
        />
    </div>
</form>
