<form id="station_trade" onsubmit="return init(STATION_TRADE)">
    <input type="hidden" name="form_type" value="STATION_TRADE"/>
    <h2>
        Station Trading
    </h2>
    <div class="col-md-12 col-xs-12 mx-auto">
        <p>
          Finding the most profitable items to buy low, and then sell high without leaving the station.
        </p>
    </div>

    <!-- Inner Dialogue -->
    <div class="col-xs-12 mx-auto">
        <h4 class="question primary-text">
          Station Trade at
        </h4>

        <div class="col-xs-12 mx-auto">
            <div class="form-group standard">
                <div id='custom_station' style='border:1px solid #999;'></div>
                <p class="suggestions">
                    Suggestions:
                    <span onclick="addStart('Jita');">Jita</span>
                    <span onclick="addStart('Amarr');">Amarr</span>
                    <span onclick="addStart('Dodixie');">Dodixie</span>
                    <span onclick="addStart('Rens');">Rens</span>
                    <span onclick="addStart('Hek');">Hek</span>
                </p>
            </div>
        </div>

        <hr>

        <div class="row align-items-center">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12 mx-auto">
                <p title="Calculation = 5 * (1 - 0.11 * AccountingLevel) %" style="cursor: pointer">
                    Sales Tax (in %)
                </p>
                <input type="number" id="station_sales_tax" name="station_sales_tax" class="form-control" placeholder="Default: 5" step="0.05" min="0" max="5"/>
            </div>
            <div class="col-sm-4 col-xs-12 mx-auto">
                <p title="Calculation = 5 - ( 0.3 * BrokersRelationsLevel) - (0.03 * FactionStanding) - (0.02 * CorpStanding) %" style="cursor: pointer">
                    Broker Fee (in %)
                </p>
                <input type="number" id="broker_fee" name="broker_fee" class="form-control" placeholder="Default: 5" step="0.01" min="0" max="5"/>
            </div>
            
            <div class="col-sm-2 col-xs-12"></div>
        </div>

        <div class="row">
          <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-4 col-xs-12 mx-auto">
            <p>
              Return margins above
              <br/>
              <input
                type="number"
                id="lower-margin-threshold"
                name="lower-margin-threshold"
                class="minor-text form-control threshold-margin"
                placeholder="Default: 20"
              />
            </p>
          </div>
          <div class="col-sm-4 col-xs-12 mx-auto">
            <p>
              and below
              <br/>
              <input
                type="number"
                id="upper-margin-threshold"
                name="upper-margin-threshold"
                class="minor-text form-control threshold-margin"
                placeholder="Default: 40"
              />
            </p>
          </div>
          <div class="col-sm-2 col-xs-12"></div>
        </div>

        <div class="row">
          <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-8 col-xs-12 mx-auto">
            <p>
              Volume Above
              <br/>
              <input
                type="number"
                id="volume-threshold"
                name="volume-threshold"
                class="minor-text form-control threshold-margin"
                placeholder="Default: 1,000"
              />
            </p>
          </div>
          <div class="col-sm-2 col-xs-hide"></div>
        </div>

        <div class="col-xs-12 mx-auto">
            <div class="error question secondary-text announcement">
              A station is required.
            </div>
            <input
              type="submit"
              class="btn btn-default secondary-text"
              value="Search"
            />
        </div>
    </div>
    <!-- End Inner Dialogue -->
</form>
