.header {
   font-size: 2em;
   background-color: #336699;
   color: white;
   text-align: center;
   margin:0;
   padding: 1em;
}

.container {
   margin-left: auto;
      margin-right: auto;
   margin-top: 1em;
   text-align:center;
   background-color: white;
}

#dataTable {
   width: 100%;
}

td {
   border: #ccc solid 1px;
}
