body {
    font-family: 'Montserrat', sans-serif !important;
}

.header {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black 75%, #336699); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black 75%, #336699); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black 75%, #336699); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black 75%, #336699); /* Standard syntax */
    color: white;
    text-align: center;
    margin:0;
    padding: 1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

#howto{
    text-align: center;
    display: none;
}

.base {
    text-align: center;
    background-color: #e7e7e7;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer {
    text-align:center;
    border-top: 1px #ccc solid;
    padding-top: 2em;
}

input[type="button"]{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}

input[type="button"]:hover{
    color: white;
    background-color: #336699;
}

#dataTable {
    display: none;
}

#dataTable_wrapper {
    overflow-x: scroll;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1em;
    width: 95%;
}

.dataTables_info{
    width : 100%;
}

label > input {
    width: 300px;
}

.dataTables_filter{
    text-align: center !important;
    width: 100% !important;
    color: #e7e7e7 !important;
}

td {
    border: #ccc solid 1px;
    color: inherit !important;
    background-color: inherit !important;
}

a > img {
    border: 1px white solid;
    border-radius: 2em;
    height: 34px;
    transition: all 0.3s ease 0s;
}

a > img:hover {
    opacity: 0.8;
    height: 38px;
}

#reset, #toggle, #stop {
    color: white;
    background-color: #336699;
    margin-top: 1em;
    margin-bottom: 1em;
}

#stop{
    display: none;
}

#reset:hover, #toggle:hover {
    color: #336699;
    background-color: white;
}

.more, .scroll {
    display: none;
}

.more:hover{
    color: black !important;
    background-color: white;
}

.sorting, .sorting_desc, .sorting_asc {
    text-align: center;
    border: 1px #ccc solid;
    background-color: #333;
    color: white;
}

#buyingHeader {
    font-weight: bold;
    display: none;
}

#buyingFooter {
    color: #999;
    margin-bottom: 1em;
    display: none;
}

.row-selected {
    color: white !important;
    background-color: #336699 !important;
}

.updating {
    opacity: 0.5;
}

.title {
    width: 250px;
    padding: 0.5em;
    height: auto;
}

.end:hover{
    background-color: #339ab5 !important;
    color: white !important;
}

.end-selected {
    background-color: #339ab5 !important;
    color: white !important;
}

.start-selected {
    background-color: #336699 !important;
    color: white !important;
}

span.avoidwrap { display:inline-block; }

#selection > .row {
    margin: 0;
    padding: 0.5em;
}

#unreachable{
    color: #e7e7e7;
    text-align: center;
    padding: 1em;
    background-color: #A71C1C;
    display: none;
    border-bottom: 1px #ccc solid;
}

#unreachable > .container > .row > input{
    margin-top: 1em;
}

#error{
    display:none;
    color: #B71C1C;
}

.question {
    margin-bottom: 0.25em;
}

.btn {
    margin-bottom: 0.5em !important;
}

.selected_volume {
    text-decoration: underline !important;
    font-weight:bolder;
}
.primary-text {
    font-size: 15px !important;
}

.secondary-text {
    font-size: 13px !important;
}


.minor-text, li, td, th {
    font-size: 9px !important;
}

@media ( min-width : 450px) {
    .title {
        width: 400px;
    }
}

/* Small devices (tablets, 768px and up) */
@media ( min-width : 768px) {
    .title {
        width: 500px;
    }
    .primary-text {
        font-size: 18px !important;
    }
    .secondary-text {
        font-size: 14px !important;
    }

    .minor-text, li, td, th {
        font-size: 12px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media ( min-width : 992px) {
    .title {
        width: 600px;
    }
    .primary-text {
        font-size: 28px !important;
    }
    .secondary-text {
        font-size: 22px !important;
    }
    .minor-text, li, td, th {
        font-size: 14px !important;
    }
}
