.header {
   font-size: 2em;
   background-color: #336699;
   color: white;
   text-align: center;
   margin:0;
   padding: 1em;
}

.container {
   margin-left: auto;
      margin-right: auto;
   margin-top: 3em;
   text-align:center;
   background-color: white;
}

.question {
  font-size: 1.5em;
}

input[type="button"]{
  width: 180px;
}

#dataTable_wrapper {
   overflow-x: scroll;
}

td {
   border: #ccc solid 1px;
}
