<!DOCTYPE html>
<html lang="en" style="opacity:0">

{% include home/header.html %}

<body id="page-top" style="overflow-x: hidden;">

  <div class="loadingIcon">
      <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>

  <div class="tableLoadingIcon promo-item">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <p class="loadingContent"></p>
  </div>

  <!-- Navigation -->
  <div id="connectEVE" class="announcement">
      Slow results from EVE's Servers. Results may take longer than normal to appear.
  </div>

  {% include home/nav.html %}

  {% include home/trade-forms.html %}

  {% include home/datatable.html %}

  {% include home/modals/comparisonModal.html %}

  {% include home/modals/helpModals.html %}

  {% include home/modals/amazonModal.html %}

  {% include home/modals/downloadModal.html %}

  {% include home/footer.html %}

</body>

</html>
