<!-- Datatable Section -->
<section id="core">
    <p class="deal_note"><em>Deal finding is dependant on connection speed and number of filters.<br>Best viewed on a laptop or desktop.</em></p>
    <div class="data_options">
        <div class="dropdown">
            <button id="show-hide" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show/Hide Columns
                <span class="caret"></span></button>
            <ul id="colvis" class="dropdown-menu"></ul>
        </div>
        <div class="dataTableFilters">
        </div>
    </div>
    <div id="noselect-object" class="noselect overflow_scroll" oncontextmenu="return false;" style="max-width: 98%; margin: 0 auto;">
        <table id="dataTable" class="display">
        </table>
    </div>
</section>
