<!-- Datatable Section -->
<section id="core">
    <p class="deal_note">
      <em>
        Deal finding is dependant on connection speed and number of filters.<br>Best viewed on a laptop or desktop.
      </em>
    </p>
    <div class="data_options">
        <div class="dropdown">
            <button id="show_hide"
              class="btn btn-primary dropdown-toggle"
              type="button" data-toggle="dropdown">
                Show/Hide Columns
                <span class="caret"></span>
            </button>
            <ul id="colvis" class="dropdown-menu"></ul>
        </div>
        <div class="dataTableFilters">
        </div>
    </div>
    <div
      id="noselect_object" class="noselect overflow_scroll"
      oncontextmenu="return false;" style="max-width: 98%; margin: 0 auto;">
        <table id="dataTable" class="display">
        </table>
    </div>
    <div id="bookmark" class="container text-center overflow_none" style="display:none">
      <p class="text-secondary">
          You can save this search by bookmarking it!
          <br />
          <a href="https://github.com/awhipp/evetrade">Parameter Explanation.</a>
      </p>
    </div>
</section>
