<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <a class="navbar-brand" href="https://evetrade.space/">
        <div class="branding">
            <img src="images/logo.png"/>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item promo-item"
                style="position: fixed;
                top: 150px; right: 1em;
                z-index: 10;
                border: 1px solid #00aeff !important;
                background: black;"
            >
                <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
                <script type='text/javascript'>kofiwidget2.init('Donate', '#000000', 'evetrade');kofiwidget2.draw();</script>
            </li>
            <li class="nav-item promo-item"
                style="position: fixed; top: 100px; right: 1em;"
            >
                <a class="nav-link" id="shop" onclick="$('#amazon-popup').modal('show');">
                    <img src="images/plex_logo.png"/>
                    <span>Shop Game Time &amp; Plex</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reset" onclick="window.location.reload()">Restart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/awhipp/evetrade" target="_blank">Source</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="release.html" target="_blank">{{ site.version }}</a>
            </li>
            <li style="border: 1px solid #00aeff; margin-left: 1em;">
                <a class="nav-link" onclick="$('#download-popup').modal('show');" style="color: #00aeff">Download</a>
            </li>
        </ul>
    </div>
</nav>
