<div class="core-section bg-header text-white" style="opacity: 0">
    <div class="container text-center overflow_none">
        <h1 id="buying_header"></h1>
        <p id="buying_footer"></p>

        <div id="selection">
            <div id="initial_choice">
                <h2>
                  How do you trade?
                </h2>
                <p>
                    <input
                      type="button"
                      class="btn btn-default station-trading"
                      value="Single Station"
                      />
                </p>
                <p>
                    <input
                      type="button"
                      class="btn btn-default station-hauling"
                      value="Station to Station"
                      />
                </p>
                <p>
                    <input
                      type="button"
                      class="btn btn-default region-hauling"
                      value="Region to Region"
                      />
                </p>

                {% if page.announcement.enabled %}
                <br>
                <br>
                <div class="announcement-selection">
                    <p>
                      <strong>
                        <a href="/release" target="_blank">{{ page.announcement.header }}</a>
                      </strong>
                    <p>
                    <p>
                      {{ page.announcement.text }}
                    </p>
                    {% if page.announcement.include_date %}
                      <p style="text-align: center">
                        <small> Posted on {{ site.time | date: '%-d %B %Y' }} </small>
                      </p>
                    {% endif %}
                    </p>
                </div>
                {% endif %}
                <br>
            </div>
            <datalist id="stationList"></datalist>

            {% include home/forms/station-trade.html %}
            {% include home/forms/station-haul.html %}
            {% include home/forms/regional-haul.html %}

        </div>
    </div>
</div>
